/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

dl, ol, ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


li {
  list-style-type: none;
}

body {
  color: white;
}


/* CUSTOM PROPS */

:root {
  --small-space: 1rem;
  --medium-space: 2rem;
  --large-space: 3rem;
  --xlarge-space: 4rem;
}

/* UTILS */

.container {
  max-width: 1080px;
  /* debug */
  border-left: 2px dashed red;
  border-right: 2px dashed red;
}

/* debug */

.debug {
  border: 2px dashed black;
}

.debug-h {
  border: 2px dashed white;
}




section:nth-child(odd) {
  background-color: #1abc9c;
}


/* ===========
    HEADER 
=============*/

header {
  background-color: #2c3e50;
}



/* ===========
    HEADER 
=============*/

