/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

dl, ol, ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}


li {
  list-style-type: none;
}



/* UTILS */

/* .container {
  border-left: 2px dashed red;
  border-right: 2px dashed red;
}
 */


/* debug */

/* .debug {
  border: 2px dashed black;
}

.debug-l {
  border: 2px dashed white;
} */

main section:nth-child(odd) {
  background-color: #1abc9c;
  color: white;
}

main section:nth-child(even) {
  background-color: white;
  color: black;
}


/* ===========
    HEADER 
=============*/

header {
  background-color: #2c3e50;
  color: white;
}


/* ===========
    HERO IMAGE 
=============*/


.img-avatar {
  width: 200px;
}

.white-line {
  height: 3px;
  background-color: white;
  width: 120px;
}




/* ===========
    FOOTER 
=============*/

footer {
  color: white;
}

footer section:nth-child(odd) {
  background-color: #3a546d;
}

footer section:nth-child(even) {
  background-color: #2c3e50;
}